.App {
  text-align: center;
}

.pdf {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.react-pdf__Document {
  width: 100%;
  height: 100%;
}

.react-pdf__Document div {
  height: auto;
}

.app {
  height: 100%;
}

.App-link {
  color: #61dafb;
}

.react-pdf__Document {
  display: flex;
  align-items: center;
  justify-content: center;
}


.react-pdf__Page__textContent {
   opacity: 0;
   position: absolute;
}

.react-pdf__Page__annotations {
  position: absolute;
}
